@font-face {
    font-family: 'DIN-Alternate-Bold';
    src: url('./DIN-Alternate-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MonumentExtended-Regular';
    src: url('./MonumentExtended-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MonumentExtended-Ultrabold';
    src: url('./MonumentExtended-Ultrabold.otf');
    font-weight: normal;
    font-style: normal;
}