@font-face {
    font-family: 'DIN-Alternate-Bold';
    src: url('@/assets/fonts/DIN-Alternate-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MonumentExtended-Regular';
    src: url('@/assets/fonts/MonumentExtended-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MonumentExtended-Ultrabold';
    src: url('@/assets/fonts/MonumentExtended-Ultrabold.otf');
    font-weight: normal;
    font-style: normal;
}